<template>
    <div class="container">
        <div style="padding-top: 10px;">
            <a href="/logout" class="btn btn-primary">Log Out</a>
        </div>
        <br />
        <div v-if="success" class="alert alert-success"> {{ success }} </div>
        <div class="row justify-content-center" v-show="form">
            <div class="col-md-8" style="padding-top: 10px;">
                <div class="card card-default">

                    <div class="card-body">
                        <form @submit.prevent="addHobby">
                            <div class="form-group">
                                <label for="name">Name of Hobby</label>
                                <input type="text" name="name" v-model="hobby.name" class="form-control" id="name" placeholder="Enter name of your hobby" required :disabled="loading">
                            </div>

                            <button type="submit" class="btn btn-primary" :disabled="loading">
                                <btn-loading v-if="loading"></btn-loading>
                                <span v-else="">Add Hobby</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8" style="padding-top: 10px;">
                <div class="card card-default">
                    <div class="card-header justify-content-between">Your Hobbies <button @click.prevent="form = !form" class="btn btn-primary ">Add Hobby</button></div>

                    <div class="card-body">
                        <ul class="list-group list-group-flush" v-for="hobby in hobbies">
                            <li class="list-group-item">{{ hobby.name }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.');
              axios.get('/hobbies').then(res => {
                    if(res.status === 200){
                        this.hobbies = res.data;
                    }else {

                    }
              })
        },

        data(){
          return {
            loading: false,
            form: false,
            hobby:{},
            hobbies: {},
            errors: null,
            success: null,
          }
        },

        methods: {

          addHobby () {
            this.loading = true;
            axios.post('/hobby', this.hobby).then(res => {
              if (res.status === 200){
                this.success = 'You added a new Hobby ninja!';
                this.errors = null;
                this.hobbies.push({
                  'name': this.hobby.name,
                });
                this.hobby = {};
              } else {
                this.errors = res.data.message;
                alert("Oops didn't do that well  ninja! try again correctly!" + res.message);
              }

              this.loading = false;

            }).catch( err => {
              alert("Oops that didn't work out rightly! try again please!" + err.response);
              console.log(err.response);
              this.loading = false;
            })
          }

        }
    }
</script>
