<template>
    <div class="container">
        <div style="padding-top: 10px;">
            <a href="/" class="btn btn-primary">Home</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5" style="padding-top: 10px;">
                <div v-if="login" class="alert alert-success"> {{ login }} </div>
                <form @submit.prevent="loginUser">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" v-model="user.email" aria-describedby="emailHelp" placeholder="Enter email" :disabled="loading" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" v-model="user.password" id="password" placeholder="Password" :disabled="loading" required>
                    </div>

                    <div v-if="errors" class="alert alert-danger blinking"> {{ errors }} </div>

                    <button type="submit" class="btn btn-primary" :disabled="loading">
                        <btn-loading v-if="loading"></btn-loading>
                        <span v-else="">Sign In</span>
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data(){
          return {
            loading: false,
            user:{

            },
            errors: null,
            login: null,
          }
        },

        methods: {
            loginUser()
            {
                this.loading = true;
                axios.post('/login', this.user).then(res => {
                  if (res.data.status === 0){
//                        alert("Login Successful");
                        this.login = 'User logged in successfully !';
                        this.errors = null;
                        location.href = '/home';
                    } else {
                      this.errors = res.data.message;
                    }

                  this.loading = false;
                }).catch( err => {
                  this.errors = err.message.errors;
                  alert("An Error Occurred! " + err.message.errors );
                  console.log(err.response);

                  this.loading = false;
                })
            }
        }
    }
</script>

<style scoped="">
</style>
