<template>
    <div class="container">
        <div style="padding-top: 10px;">
            <a href="/" class="btn btn-primary">Home</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5" style="padding-top: 10px;">
                <div v-if="register" class="alert alert-success"> {{ register }} </div>
                <form @submit.prevent="registerUser">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" name="email" class="form-control" id="email" v-model="user.email" aria-describedby="emailHelp" placeholder="Enter email" required>
                        <p v-if="errors.email" class="form-text text-danger">{{ errors.email[0] }}</p>
                    </div>

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name" v-model="user.name" placeholder="Enter Your name" required>
                        <p v-if="errors.name" class="form-text text-danger">{{ errors.name[0] }}</p>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone_number" class="form-control" v-model="user.phone_number" id="phone" placeholder="Enter Your Phone Number" required>
                        <p v-if="errors.phone_number" class="form-text text-danger">{{ errors.phone_number[0] }}</p>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="form-control" v-model="user.password" id="password" placeholder="Password" required>
                        <p v-if="errors.password" class="form-text text-danger">{{ errors.password[0] }}</p>
                    </div>

                    <div class="form-group">
                        <label for="password_confirmation">Confirm Password</label>
                        <input type="password" name="password_confirmation" v-model="user.password_confirmation" class="form-control" id="password_confirmation" placeholder="Confirm Password" required>
                        <p v-if="errors.password_confirmation" class="form-text text-danger">{{ errors.password_confirmation[0] }}</p>
                    </div>

                    <button type="submit" class="btn btn-primary" :disabled="loading">
                        <btn-loading v-if="loading"></btn-loading>
                        <span v-else="">Sign Up</span>
                    </button>
                </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data(){
          return {
            loading: false,
            user:{

            },
            errors: {

            },
            register:null,
          }
        },

        methods: {
            registerUser()
            {
                this.loading = true;
                axios.post('/register', this.user).then(res => {
                  if (res.data.status === 0){
                    this.register = 'Registration Successful!';
                    this.errors = {};
                        location.href = '/home';
                    } else {
                      this.errors = res.data.message;
                    }

                  this.loading = false;

                }).catch( err => {
                  alert("Oops that didn't work out rightly! try again please!" + err.response);
                  console.log(err.response);
                  this.loading = false;
                })
            }
        }
    }
</script>
