<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="jumbotron text-center">
                <h1 class="display-4" style="color: darkred">Welcome To Hobbies</h1>
                <p class="lead">If you already have an account with us you can <a href="/login" >Login</a>, if not click the <strong><em>Register button</em></strong> below to register with us and start viewing and adding to your hobbies ninja!</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="/register" role="button" :disabled="loading">Register</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },

        data(){
          return {
            loading: false,
          }
        },

        methods: {

        }
    }
</script>
